# No whitespace after the comma or in your part name!
config SHIELD_OATH_PRO_LEFT
    def_bool $(shields_list_contains,oath_pro_left)

# No whitespace after the comma or in your part name!
config SHIELD_OATH_PRO_RIGHT
    def_bool $(shields_list_contains,oath_pro_right)