#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer { //Layer 0
                        display-name = "Mac";
// -------------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |  -  |   |  =  |  6  |  7  |  8  |  9  |  10 | BSPC |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |  [  |   |  ]  |  Y  |  U  |  I  |  O  |  P  |   \  |
// | CAPS |  A  |  S  |  D  |  F  |  G  |     |   |     |  H  |  J  |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  | ENT |   | ENT |  N  |  M  |  ,  |  .  |  UP | SHFT |
// | CTRL |  SU | OPT | CMD |     | SPC |  FN |   |  FN | SPC |     | CMD | LFT | DWN |  RGT |
// -------------------------------------------------------------------------------------------                        
                        bindings = <
        &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4 &kp N5     &kp MINUS     &kp EQUAL &kp N6     &kp N7 &kp N8    &kp N9   &kp N0   &kp BSPC          
        &kp TAB   &kp Q     &kp W     &kp E     &kp R  &kp T      &kp LBKT      &kp RBKT  &kp Y      &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &kp CAPS  &kp A     &kp S     &kp D     &kp F  &kp G                              &kp H      &kp J  &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X     &kp C     &kp V  &kp B      &kp ENTER     &kp ENTER &kp N      &kp M  &kp COMMA &kp DOT  &kp UP   &kp RSHFT
        &kp LCTRL &kp PSCRN &kp LALT  &kp LCMD         &kp SPACE  &mo 1         &mo 1     &kp SPACE         &kp RCMD  &kp LEFT &kp DOWN &kp RIGHT
                        >;
                };

                first_layer { //Layer 1
                        display-name = "FN";
// -------------------------------------------------------------------------------------------
// |  OS  |  F1 |  F2 |  F3 |  F4 |  F5 | F11 |   | F12 |  F6 |  F7 |  F8 |  F9 | F10 |  DEL |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |  `  |   |  /  |  7  |  8  |  9  |     |     |      |
// |      |     |     |     |     |     |     |   |     |  4  |  5  |  6  |     |     |      |
// |      |     |     |     |     |     | ENT |   | ENT |  1  |  2  |  3  |     | VOL+|      |
// |      |     |     |     |     |     |  FN |   |  FN |  0  |     |  .  | PRE | VOL-| NEXT |
// -------------------------------------------------------------------------------------------
                        bindings = <
        &kp ESC    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F11       &kp F12   &kp F6     &kp F7    &kp F8     &kp F9   &kp F10   &kp DEL          
        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp GRAVE     &kp QMARK &kp KP_N7  &kp KP_N8 &kp KP_N9  &trans   &trans    &trans
        &trans     &trans       &trans       &trans       &trans       &trans                               &kp KP_N4  &kp KP_N5 &kp KP_N6  &trans   &trans    &trans
        &trans     &trans       &trans       &trans       &trans       &trans       &kp ENTER     &kp ENTER &kp KP_N1  &kp KP_N2 &kp KP_N3  &trans   &kp PG_UP &trans
        &trans     &trans       &trans       &trans                    &trans       &mo 1         &mo 1     &kp KP_N0            &kp KP_DOT &kp home &kp PG_DN &kp END
                        >;
                };

                second_layer { //Layer 2
                        display-name = "WIN";
// -------------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |  -  |   |  =  |  6  |  7  |  8  |  9  |  10 | BSPC |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |  [  |   |  ]  |  Y  |  U  |  I  |  O  |  P  |   \  |
// | CAPS |  A  |  S  |  D  |  F  |  G  |     |   |     |  H  |  J  |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  | ENT |   | ENT |  N  |  M  |  ,  |  .  |  UP | SHFT |
// | CTRL |  SU | GUI | ALT |     | SPC |  FN |   |  FN | SPC |     | ALT | LFT | DWN |  RGT |
// ------------------------------------------------------------------------------------------- 
                        bindings = <
        &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4 &kp N5     &kp MINUS     &kp EQUAL &kp N6     &kp N7 &kp N8    &kp N9   &kp N0   &kp BSPC          
        &kp TAB   &kp Q     &kp W     &kp E     &kp R  &kp T      &kp LBKT      &kp RBKT  &kp Y      &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &kp CAPS  &kp A     &kp S     &kp D     &kp F  &kp G                              &kp H      &kp J  &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X     &kp C     &kp V  &kp B      &kp ENTER     &kp ENTER &kp N      &kp M  &kp COMMA &kp DOT  &kp UP   &kp RSHFT
        &kp LCTRL &kp PSCRN &kp LALT  &kp LCMD         &kp SPACE  &mo 1         &mo 1     &kp SPACE         &kp RCMD  &kp LEFT &kp DOWN &kp RIGHT
                        >;
                };
        };
};